# add your auth credentials for integration tests
ATOMICT_USERNAME=your_username_here
ATOMICT_PASSWORD=your_password_here
# test environment config
TEST_PROJECT_ID=your_test_project_id_here
TEST_STRUCTURE_ID=your_test_structure_id_here
# change depending on integration test ur running
TEST_STRUCTURE_TYPE=fhiaims  # "fhiaims", "mlrelax", or "userupload"